name: 'SSH Deploy'
author: 'Odery'
description: 'Builds the Go binary and deploys it via SSH to remote server.'
inputs:
  ssh-key:
    description: 'SSH for the remote server'
    required: true
  ssh-host:
    description: 'SSH host to connect to'
    required: true
  ssh-user:
    description: 'SSH user for the remote server'
    required: true
  artifact-path:
    description: 'Path to the binary file to be deployed'
    required: true
runs:
  using: composite
  steps:

    - name: Configure SSH
      shell: bash
      env:
        SSH_KEY: ${{ inputs.ssh-key }}
        SSH_HOST: ${{ inputs.ssh-host }}
      run: |
        echo "--- 1. Configure SSH ---"
        mkdir -p ~/.ssh
        echo "$SSH_KEY" > ~/.ssh/deploy_key
        chmod 600 ~/.ssh/deploy_key
        ssh-keyscan -H "$SSH_HOST" >> ~/.ssh/known_hosts
    - name: Deploy Application
      shell: bash
      env:
          SSH_USER: ${{ inputs.ssh-user }}
          SSH_HOST: ${{ inputs.ssh-host }}
          ARTIFACT: ${{ inputs.artifact-path }}
      run: |
        echo "--- 2. Ship Binary ---"
        # It is a forced command on the SSH, so we just pipe data to the script on the remote server.
        gzip -c "$ARTIFACT" | ssh -T -i ~/.ssh/deploy_key "$SSH_USER"@"$SSH_HOST"
