name: CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: setup go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'
          cache: true
      - name: Display Go version
        run: go version
      - name: Install dependencies
        run: go mod download
      - name: Build binaries
        run: go build ./...
      - name: Run tests
        run: go test ./...

