name: PR quality assurance
on:
  pull_request:
jobs:
  quality:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'
          cache: true

      - name: Display Go version
        run: go version

      - name: Vet
        run: go vet ./...

      - name: Install Lint
        env:
          GOTOOLCHAIN: local
        run: go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest

      - name: Lint
        env:
          GOTOOLCHAIN: local
        run: $(go env GOPATH)/bin/golangci-lint run --timeout=3m ./...
